.top-container {
  background-color: #f4f7f7;
  margin: 0;
  padding-top: 150px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #0d7377;
}

h1 {
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #086972;
  font-size: 4rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

.cloud {
  width: 12%;
  height: 15%;
  position: absolute;
  left: 200px;
  margin-top: 0;
  top: 80px;
}

.cloud2 {
  width: 12%;
  height: 15%;
  position: absolute;
  right: 200px;
  top: 200px;
  margin-top: 0;
}

.books {
  width: 30%;
  float: left;
  margin-right: 40px;
}

.education {
  margin-top: 30px;
  width: 50%;
  text-align: left;
  margin: 50px auto 50px auto;
}

.profile {
  margin: 40px auto 50px auto;
}

.skills {
  width: 50%;
  text-align: left;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.code {
  width: 15%;
  float: right;
  margin-left: 5px;
}

.badminton {
  width: 50%;
  margin: 30px auto 50px auto;
  text-align: left;
}

.racket {
  width: 12%;
  float: left;
  margin-right: 30px;
}

.camera {
  width: 13%;
  float: left;
  margin-right: 30px;
}

.photography {
  width: 50%;
  margin: 80px auto 50px auto;
  text-align: left;
}

hr {
  border-style: dotted;
  border-bottom: none;
  width: 5%;
  border-width: 7px;
  color: #086972;
}

.intro {
  width: 30%;
  margin: auto;
  font-weight: bolder;
}

.btn {
  background: #086972;
  background-image: -webkit-linear-gradient(top, #086972, #086972);
  background-image: -moz-linear-gradient(top, #086972, #086972);
  background-image: -ms-linear-gradient(top, #086972, #086972);
  background-image: -o-linear-gradient(top, #086972, #086972);
  background-image: linear-gradient(to bottom, #086972, #086972);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3ec1d3;
  background-image: -webkit-linear-gradient(top, #3ec1d3, #086972);
  background-image: -moz-linear-gradient(top, #3ec1d3, #086972);
  background-image: -ms-linear-gradient(top, #3ec1d3, #086972);
  background-image: -o-linear-gradient(top, #3ec1d3, #086972);
  background-image: linear-gradient(to bottom, #3ec1d3, #086972);
  text-decoration: none;
}

.contact-me {
  width: 50%;
  text-align: left;
  margin: 50px auto 50px auto;
  line-height: 1;
}

.details {
  background-color: #e4f9f5;
  text-align: center;
}

.form {
  width: 50%;
  margin: 50px auto 50px auto;
}

.mail {
  width: 17%;
  float: left;
  margin-right: 30px;
}

input {
  width: 50%;
  padding: 5px 10px;
  margin: 8px 0;
}

label {
  font-weight: bold;
}

textarea {
  margin-left: 100px;
  width: 50%;
}

.submit {
  width: 90px;
  background-color: #086972;
  color: white;
  border-radius: 8px;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.submit:hover {
  background-color: #3ec1d3;
}

.copyright {
  line-height: 1;
  background-color: #61c0bf;
  padding: 20px 50px;
}

.contact {
  margin: 50px auto 50px auto;
}

a {
  color: #086972;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

.copy {
  color: #f6f6f6;
  font-size: 0.75rem;
  padding: 10px 0;
}

a:hover {
  color: #f6f6f6;
}

.left-label {
  margin-right: 52%;
}

@media (max-width:1200px) {
  .cloud2, .cloud {
    display: none;
  }

  .sk-img {
    width: 20%;
  }
}
